*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

/*--------COLUMNS--------*/

.main-column {
    max-width: 1600px;
    padding-right: 60px;
    padding-left: 60px;
    margin: 0 auto;
}


.content-column {
    max-width: 1600px;
    padding-right: 180px;
    padding-left: 180px;
    margin: 0 auto;
}

@media screen and (max-width: 1124px) {
    .content-column {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 630px) {
    .main-column, .content-column {
        padding-right: 30px;
        padding-left: 30px;
    }
}


/*-------HEADER-----------*/


header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}



/*---left side---*/


header .left-side {
    display: flex;
}

header .left-side .slash {
    margin-left: 4px;
    width: 21px;
    height: 47px;
    background-image:url("../images/Homepage/Header/Slash.svg");
}

header .left-side .services {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

header.light .left-side .services {
    color: #323264;
}


/*----right side-----*/


header .right-side .contact {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

header.light .right-side .contact {
    color: #B3B3BA;
}

header .right-side .lang-switch {
    display: flex;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
}

header .lang-switch a {
    display: block;
    width: 33px;
    height: 25px;
    border-radius: 8px;
    padding: 5px 7px;
}

header .lang-switch span {
    display: block;
    width: 33px;
    height: 25px;
    border-radius: 8px;
    padding: 5px 7px;
}

header .lang-switch .active {
    background-color: #F0145A;
}

header.light .lang-switch .active {
    color: #FFFFFF;
}

header .lang-switch .hover:hover {
    color: #F0145A;
}

header .dot {
    width: 6px;
    height: 6px;
    margin: 0 6px;
    border-radius: 50%;
    background: #E6E6F0;
}

header .contact address {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

}

header .contact .tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}

header .contact .tel:hover {
    color: #F0145A;
}

header .contact .facebook {
    width: 24px;
    height: 24px;
}

header .contact .facebook:hover path {
    fill: #F0145A;
}

header .lang-switch a,
header .tel,
header nav .item {
    color: #FFFFFF;
}

header.light nav .item {
    color: #24A3FF;
}

header.light .lang-switch a,
header.light .tel {
    color: #B3B3BA;
}


header nav {
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}

header nav .item {
    margin-left: 15px;
}

header nav .item:hover,
header nav .item.active {
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
}
header .burger {
    display: none;
}

@media screen and (min-width: 630px) and (max-width: 980px) {
    header {
        height: 220px;
    }

    header .left-side {
        position: absolute;
        top: 105px;
}
    header nav {
        position: absolute;
        top: 195px;
    }

    header .lang-switch a:first-child {
        margin-left: 0;
    }

    header nav a:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 630px) {
    header nav,
    header address,
    .dot,
    header .facebook {
        display: none;
    }

    header {
        flex-direction: column-reverse;
        padding: 15px 15px;
    }

    header .left-side {
        margin-top: 15px;
        margin-left: -15px;
    }

    header .left-side .slash {
        width: 12px;
        height: 26px;
        background-size: 12px 26px;
    }
    header .left-side .logo {
        width: 70px;
        height: 32px;
    }

    header .left-side .services {
        margin-left: 4px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    header .right-side {
        margin: -15px -30px 0 -30px;
        padding: 10px 15px;
        background-color: rgba(245, 245, 250, 0.2);
    }

    header .right-side .contact {
        justify-content: space-between;
    }

    header .burger {
        display: flex;
        position: absolute;
        right: 15px;
        top: 50px;
        width: 32px;
        height: 32px;
        background-image: url("../images/Hamburger-light.svg");
    }
    header .burger:hover{
        background-color: #E6E6F0;
        border-radius: 5px;
    }
}

/*-------------FOOTER----------------*/

.footer-wrapper {
    background: #F5F5FA;
    padding: 30px 0;
}

.footer .top {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #E6E6F0;
    padding-top: 30px;
}

.footer .top .location {
    display: flex;
    gap: 0 10px;
    align-items: center;
}

.footer .location address {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #323264;
}

.footer .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #B3B3BA;
}

.footer .top .map {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.footer .top .map:hover {
    color: #F0145A;
}


.footer .top .company {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #B3B3BA;
}

.footer .bottom {
    margin-top: 21px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
}

.footer .bottom .facebook:hover path {
    fill: #F0145A;
}

.footer .bottom .tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #46466E;
}

.footer .bottom .tel:hover{
    color: #F0145A;
}

.footer .bottom .email {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
}

.footer .bottom .email:hover {
    color: #F0145A;
}

.footer .company-hide {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #B3B3BA;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .top .company {
        display: none;
    }
    .footer .company-hide {
        display: flex;
    }

    .footer .bottom {
        margin: 21px 0 30px 0;
    }
}

@media screen and (max-width: 630px) {
    .footer .top .location {
        flex-direction: column;
        gap: 10px;
    }
    .footer .bottom {
        flex-direction: column;
        gap: 10px 0;
    }
}

/*--------PAGINATOR HOVER-------*/

div.paginator div.circle:hover {
    opacity: 1;
}

/*--------MOBILE-MENU-------*/



.mobileMenu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #32326470;
}

.mobileMenu.show {
    display: block;
}

.mobileMenu nav {
    position: absolute;
    width: calc(100% - 16px);
    left: 8px;
    right: 8px;
    bottom: 0;
    border-radius: 12px 12px 0 0;
    background-color: #FFFFFF;
}

.mobileMenu ul {
    padding-top: 64px;
    padding-left: 12px;
    padding-right: 12px;
}

.mobileMenu ul li a {
    display: block;
    padding: 7px 0;
    margin-bottom: 12px;
    background: #F5F5FA;
    border-radius: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #24A3FF;
}

.mobileMenu ul li:active a {
    background-color: #E6E6F0;
    color: #F0145A;
    cursor: pointer;
}

.mobileMenu ul li:hover a{
    color: #F0145A;
    cursor: pointer;
}

.mobileMenu nav .cross {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("../images/Button/Close.svg");
    right: 19px;
    top: 19px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.mobileMenu nav .cross:active{
    background-color: #E6E6F0;
}